
* {
    box-sizing: border-box;
}

body,ul,li,a,button{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

.main-wrap{
    display: block;
    height: 100vh;
    background-color: #000;
    color: #fff;
}

h1{
    margin: 0;
    padding: 10px;
    text-align: center;
}

.main-container{
    min-height: 500px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.graph-top{
    display: flex;
    margin: 0 40px;
}

.div-container{
    min-height: 200px;
    min-width: 600px;
    display: flex;
    gap: 40px;
    border-left: 2px solid rgb(243, 243, 19);
    border-bottom: 2px solid rgb(243, 243, 19);
    padding: 20px 20px 0;
}

.time-container{
    display: flex;
    flex-flow: column-reverse;
    padding-top: 20px;
    margin-bottom: -5px;
}

.time{
    width: 50px;
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-right: 4px;
}

.box{
    display: flex;
    flex-flow: column-reverse;
}

.box-col{
    height: 40px;
    width: 40px;
}

.task-container{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 10px 20px;
}

.down-heads{
    margin-left: 40px;
    padding-left: 54px;
}

.task{
    width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bend{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.red-back{
    background-color: red;
}

/* ----------grid-col------------ */

.input-wrap{
    margin: 20px 10px 5px 10px;
    display: flex;
    /* justify-content: space-between; */
    gap: 40px;
}

.form{
    display: flex;
    /* flex-flow: column; */
    flex-flow: row wrap;
    gap: 10px;
}
.input-box{
    display: flex;
    align-items: center;
}

label{
    width: 70px;
    height: fit-content;
    font-size: 18px;
}

.input{
    position: relative;
    width: 100px;
    height: 40px;
    border: 2px solid rgb(243, 243, 19);
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.button-container{
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    align-items: center;
}

.btn{
    width: 80px;
    height: 40px;
    background-color: rgb(243, 243, 19);
    color: black;
    border-radius: 30px;
    cursor: pointer;
}

.grid-graph{
    justify-content: center;
}

.grid-div{
    gap: 0;
    /* width: fit-content;
    height: fit-content; */
    min-height: auto;
    min-width: auto;
    padding: 0;
    margin: 0;
    border: none;
}

.grid-box{
    border: 1px solid rgb(243, 243, 19);
}

.msg{
    display: block;
    position: absolute;
    padding: 10px 60px;
    font-size: 18px;
    color: red;
}

.red-bord{
    border: 3px solid red;
}
.undisplay{
    display: none;
}
